* {

	margin:0px;
	padding:0px;

}

.clear_both {

	clear:both;
}

#header_bar {

	background-color:#0080FF;
	display:block;
	text-align:center;
	color:white;
	margin:0px;

	padding:10px 0 10px 0;

	font-size:1.5em;
	font-family:junction;

}

#header_link {

	display:block;
	margin:0.5% auto 0 auto;
	text-align:center;

}

#header_link a {

	color:#0080FF;
	text-decoration:none;
	font-size:1.5em;
	transition:	color 0.6s;
	font-family:junction;

}

#header_link h1 {

	color:white;

}

#header_link a:hover {

	color:white;
	text-decoration:underline;

}

#content_wrapper {

	font-family: junction;

}

#sep-img_1 {

	width:100%;

}



#blog_posts {

	display: block;
	width:75%;
	float:right;
	border-left: 2px dotted #0080FF;
	border-bottom: 2px dotted #0080FF;
	border-top:2px dotted #0080FF;
	border-bottom-left-radius:1vw;
	border-top-left-radius:1vw;
	padding:3px;
	margin: 1%;
	margin-right:0;

}
/* -----------------------
 * News formatting section here
 */
.news_item_header {

	font-family:junction-bold;
}
#more_news_link {
	font-family:junction-bold;
	color:#0080FF;
}
#blog_posts li{
	padding:5px 0px;

}

#blog_posts ol{
	list-style-type:none;
}

#about_us {

	float:left;
	width:75%;
	padding:3px 3px 3px 15px;
	border-right: 2px solid #0080FF;
	border-bottom:2px solid #0080FF;
	border-top:2px solid #0080FF;

	border-bottom-right-radius:1vw;
	border-top-right-radius:1vw;

}

#logo_div img{


	clear:right;
	display:block;
	margin:0 auto;
	width:15%;

}

#about_blog_wrapper {

	/*background-image:url(img/bg_green.svg);*/
	background-size:50%;
	display:block;
	padding:1% 0px 2% 0px;

}

#meet_team {

	margin: auto;
	text-align:center;
	background:#C3C7C4;
	padding:2% 0;

}

#meet_team_list li {

	display:inline-block;
	clear:none;
	width:30vw;
	padding: 1%;
	margin: 2.5% 3%;
	list-style-type: none;
	text-align: left;
	background:white;
	border-radius: 1vw;
	vertical-align:top;

}
.team_content_wrapper {
/*	float:right;			THIS IS TO BE USED WHEN IMAGES INCLUDED.
	display:inline;
	width:45%;*/
}
#meet_team_list h4 {

	text-align:center;

}

#meet_team_list img {

	width:50%;
	height:100%;
	float:left;

}

#meet_team_list {

	clear:none;
}

#footer {

	width: 100%;
	display:block;
	margin:0px auto;
	background:#0080FF;
	text-align:center;
	color:white;

}

#social {

	border:3px solid white;
	border-top:none;
	border-bottom-left-radius:1vw;
	border-bottom-right-radius:1vw;
	padding:0;
	margin:0px auto 1% auto;
	width:25%;
	background:#333333;
	color:white;
	text-align:center;

}

#social a {
	color:white;
}

/* =====================
 * Mission space.
 */

#mission_details {
	clear:both;
	display:block;
	width:100%;
	background:#0080FF;
	padding:5px;

}
#rocket_img {

	float:left;
	display:block-inline;
	height:200px;
	margin:3% 5% 5% 5%;
}
#cansat_desc_img{
	float:right;
	display:inline;
	margin:5% 5%;


}
#mission_contents_wrapper {
	padding:5%;
	width:50%;

	display:block;
	margin:0px auto;
	text-align:justify;
	clear:none;
	color:white;
}
#mission_contents_wrapper h3 {
	text-align:center;
	}
/* ====================
	Sponsor space
	=============
	*/

#sponsorship {
		background:	white;

margin:0px;
width:100%;
padding:0px;
}
#sponsorship h1 {
	text-align:center;

}

#sponsor_list {
	text-align:center;
	display:block;
	list-style-type:none;
}

#sponsor_list li {
	width:70%;
	display:block;
	clear:both;
	text-align:center;
	margin:0px auto;
}
#sponsor_list img{
	display:inline-block;
	width:100%;
}

/*==========
Fonts
*/
@font-face{

	font-family: junction;
	src: url(fonts/junction-regular.woff);

}
@font-face{
	font-family: junction-bold;
	src: url(fonts/junction-bold.woff);
}

@media all and (max-width: 850px), all and (max-device-width:800px) {
	/* narrower screen CSS */

	#about_us {

		width:100%;
		border-right:none;
		border-top-right-radius:0;
		border-bottom-right-radius:0;
		margin:0;
		margin-bottom:2%;
		padding:0px;

	}

	#logo_div {

		clear:both;

	}

	#blog_posts {

		width:100%;
		padding:0px;
		margin:0px;
		margin-top:2%;
		border-top-left-radius:0;
		border-bottom-left-radius:0;
		border-left:none;

	}

	#meet_team_list li {

		width:80%;
		clear:both;
		margin:3% 0;
		text-align:center;
		border-radius: 3vw;

	}

	#meet_team_list img {

		display:block;
		width:50%;
		float:none;
		margin:0 auto;

	}

	.team_content_wrapper {

		display:inline;
		width:100%;

	}
	#social {
		margin:5% 0;
		width:100%;
		text-align:center;	}
	#mission_contents_wrapper {
		width:95%;
		clear:both;
		margin:2% auto;
		padding:0px;text-align:left;

	}
	#mission_details {
		min-height:0px;
		padding:0px;margin:0px;
	}
	#rocket_img {
		float:right;
		height:200px;
		margin:0px;
		padding:0px;

	}
	#cansat_desc_img {
		float:left;
		display:block;
		margin:0px;
		text-align:center;
		padding:0px;
		height:200px;
	}

}
