* {
	margin:0px;
	padding:0px;
	background:inherit;
	
}
#header_bar {
	height:150px;
	background-color:#8F0000;
	display:block;
	text-align:center;
	color:white;
	margin:0px;
	padding-top:75px;
	
	font-size:1.5em;
	font-family:raleway-thin;
	
}

#content_wrapper {
	font-family: junction;
}
#tutu {
	background:url(img/c.svg);
}
#blog_posts {
margin-top:1%;
	width:25%;
	float:right;
	border-left: 5px dotted #8F0000;
	
}
@font-face{
	font-family: raleway-thin;
	src: url(fonts/raleway_thin-webfont.woff);
}
@font-face{
	font-family: junction;
	src: url(fonts/junction-regular.woff);
}