* {
	margin:0px;
	padding:0px;

	
}
.clear_both {
	clear:both;
}
#header_bar {
	
	background-color:#8F0000;
	display:block;
	text-align:center;
	color:white;
	margin:0px;
	
	padding:50px 0 50px 0;	
	
	font-size:1.5em;
	font-family:raleway-thin;
	
}

#content_wrapper {
	font-family: junction;

}

#blog_posts {
	width:35%;
	
	float:right;
	border-left: 5px dotted #8F0000;
	border-bottom:5px dotted #8F0000;
	border-top:5px dotted #8F0000;
	border-bottom-left-radius:15px;
	border-top-left-radius:15px;
	padding:3px;

}

#about_us {
	float:left;
	width:50%;
	padding:3px 3px 3px 15px;
	border-right: 2px solid #8F0000;
	border-bottom:2px solid #8F0000;
	border-top:2px solid #8F0000;
	border-bottom-right-radius:15px;
	border-top-right-radius:15px;
}
#about_blog_wrapper {
	background-image:url(img/bg_green.svg);
	background-size:50%;

	display:block;
	padding:1% 0px 2% 0px;
	}
#logo_area {
	background-image:url(img/logo.svg);
	width:50px;
	height:50px;
}
#meet_team {
text-align:center;
	background:grey;
	padding:2% 0;
}
#meet_team_list li {
	display:inline-block;
	clear:none;
	border:5px dashed red;
	width:30%;
	padding:3px;
	margin:2.5% 3%;
	list-style-type: none;
	text-align:center;
	background:white;
	border-radius:15px;
	
	
}
#meet_team_list img {
	width:100%;
}
@font-face{
	font-family: raleway-thin;
	src: url(fonts/raleway_thin-webfont.woff);
}
@font-face{
	font-family: junction;
	src: url(fonts/junction-regular.woff);
}